
.container {

    display: flex;
    
}

.left-painel {

    height: 100vh;
    width: 20vw;
    background-color: white;
    border: 2%;

}

.painel-central {

    height: 100vh;
    width: 80vw;
    background-color:white;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
    flex-direction: column;

}

.top {
 width: 100%;
 height: 65%;
 background-color: white;


}

.bottom {

    width: 100%;
    height: 30%;
}

.btn-new-chat {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    padding: 12px;
    margin-top: 10px;
    font-size: 15px;

}

.btn {

    background-color: white;
    color: black;
    width: 100%;
    height: 50px;
    padding: 28px;
    border-radius: 12px;
    border: none;
}

.painel-central h3 {

    text-align: center;
    font-size: 18px;
}

p {
    font-size: 16px;
    background-color: whitesmoke;
}

.div-principal-text {
    flex-direction: row;
    display: flex;
    gap: 80px;
}

.input {
    border-radius: 10px;
    padding: 18px;
    /* Espacemento interno */
    border: none;
    /* Remove a Borda */
    background-color: #F7F9FB;
    /* Define a cor de fundo */
    width: 32vw;
    margin-bottom: 16px;
    margin-top: 10px;
    height: 9px;
    padding-right: 30px;
    padding-left: 70px;
    

}

.senai {
    margin-top: 7vw;
    height: 60vw;
    width: 47vh;
}

.input-text {

    position: relative;
    display: flex;

}

.aviao {
    position: absolute;
    right: 10px;
    top: 25%;
    width: 20px;
    height: 20px;
}

.microfone { 
position: absolute;
left: 10px;
top: 25%;
width: 20px;
height: 20px;
}

.botaoimagem { 
    position: absolute;
    left: 40px;
    top: 25%;
    width: 20px;
    height: 20px;
}
